.top {
    background-color: darkgreen;
    position:absolute;
    left:0; right:0;
    height: 92px;
    margin-top: -10px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 3px;
}
.left {
    position:absolute;
    left:0; top:100px; bottom: 0;
    width: 178px;
    height: 100%;
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 3px;
}
.main {
    padding-left: 10px;
    position: absolute;
    left:178px; top:92px; right:0; bottom:0;
    height: 100%;
}

.title {
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 40px;
    margin-top: 15px;
}

.house-row {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.house-row:hover {
    background-color: rgba(0, 0, 0, .3);
}


.house-row-title {
    margin-left: 10px;
    font-size: 24px;
    margin-bottom: 2px;
}

.house-row-address {
    margin-left: 10px;
    margin-top: 2px;
    font-size: 14px;
}

img {
    float: right;
    height: 300px;
    width: 300px;
}

.home-nav {
    margin-top: 10px;
    height: 70px;
    width: 100px;
    float: left;
    position: absolute;
}

a {
    color: inherit;
    text-decoration: none; /* no underline */
  }
